* {
  box-sizing: border-box; 
}

body {
   margin: 0; 
  padding: 0; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.nav{ 
  list-style: none; 
  color: #f6bcca;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  margin: 2px; 
  padding: 0px; 
  font-size: 20px; 
  cursor: pointer;  
}  
.nav li {  
  /* adds 5px space in between each link  */
  padding: 0px 5px;   
}

header{
  background-color: rgb(172, 106, 144);   
  display: flex; 
  flex-direction: row; 
  box-sizing: border-box;
  padding: 10px; 
  justify-content: flex-end;
}  

.icon{ 
  border-radius: 50%;
  height: 75px;
  width: 75px;  
} 
h1{  
  display: inline-block;
  background-color: #f6bcca; 
  padding: 20px 20px 20px 60px;  
  /* pushes the header Stevana Al to the left primarily, but as a result moves to icon too*/  
  /* using this auto margin  allows your website flexibilty so the margin betwen h1 and the nav item changes depending on the size of the browser*/
  margin-right: auto; 
  border-radius: 15%;
}  
.hero-banner { 
  background-image: url("/images/IMG_6655.jpg");
  height: 200px; 
  width: 100%; 
} 

#banner { 
  display: flex;
  box-sizing: border-box;
  background-color: #f6bcca; 
  padding: 20px; 
  height: fit-content; 
  width: fit-content;
  margin-left: auto; 
  align-items: flex-end; 
  border-radius: 15%;
} 

p, 
.projectContainer, 
#contact-info {  
  border-left: 5px solid  rgb(172, 106, 144); 
  margin: 100px;

} 
#contact-info { 
  list-style: none;
  display: flex;
  justify-content: space-between; 
} 

.projectContainer { 
  display: grid; 
  grid-template-areas: "studyguide studyguide"
                      "comingsoon1 comingsoon2" 
                      "comingsoon3 comingsoon4";  
  background-position: center;
  background-repeat: no-repeat; 
  height: 500px;  
  
  
}

#project1 { 
  grid-area: studyguide;
  background-image:url("/images/3166598F-8E7C-4748-B802-2A0DAF5C219C.JPG"); 
  /* width: 2fr; 
  height: 1fr;  */
  border: 5px solid #f6bcca;
  margin: 10px;
  
} 

#project2 { 
  grid-area: comingsoon1;
  background-image:url("/images/0762E637-9BAD-427A-A907-7BA1059E7706.JPG");
} 

#project3 { 
  grid-area: comingsoon2;
  background-image:url("/images/IMG_6655.jpg"); 

} 

#project4 { 
  grid-area: comingsoon3;
  background-image:url("/images/IMG_6656.JPG");
} 

#project5 { 
  grid-area: comingsoon4;
  background-image:url("/images/IMG_6956.JPG");
} 

#project2, 
#project3, 
#project4, 
#project5 {  
  /* width: 1fr; 
  height: 1fr;  */
  border: 5px solid #f6bcca;
  margin: 10px; 

}
