* {
  box-sizing: border-box; 
}

body {
   margin: 0; 
  padding: 0; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.nav{ 
  list-style: none; /* Removed bullet points*/
  color: #f6bcca;
  display: flex; /* use to auto align items, adding this causes nav bar links to line up in a row*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  padding-top: 15px; /* pushes nav bar down*/
  font-size: 20px; 
  cursor: pointer;  
}  
.nav li {  
  /* adds 5px space in between each link  */
  padding: 0px 5px;    
  text-underline-offset: 4px;
  text-decoration-thickness: 5px;
  text-decoration-color: rgb(172, 106, 144); 
}

header{
  background-color: rgb(172, 106, 144);   
  display: flex; 
  flex-direction: row; 
  box-sizing: border-box;
  padding: 10px; 
  justify-content: flex-end;
}  

.icon{ 
  border-radius: 50%;
  height: 75px;
  width: 75px;  
} 
h1{  
  display: inline-block;
  background-color: #f6bcca; 
  padding: 20px 20px 20px 60px;  
  /* pushes the header Stevana Al to the left primarily, but as a result moves to icon too*/  
  /* using this auto margin  allows your website flexibilty so the margin betwen h1 and the nav item changes depending on the size of the browser*/
  margin-right: auto; 
  border-radius: 15%;
}  
.hero-banner { 
  background-image: url("/images/IMG_6655.jpg"); /* use as shown to add a backgroun image using css*/
  height: 200px; /* sets height of image*/
} 

#banner { 
  display: flex;
  box-sizing: border-box;
  background-color: #f6bcca; 
  padding: 20px; 
  height: fit-content; 
  width: fit-content;
  margin-left: auto; 
  align-items: flex-end; 
  border-radius: 15%; /* rounds off the edges of your desired item, can make it round or curved*/
} 

#contact-info { 
  list-style: none;
  display: flex;
  justify-content: space-between; 
  text-decoration: underline; /* adds underline to text*/
  text-underline-offset: 5px; /*  puts a space between your text and underlign*/
  text-decoration-thickness: 5px; /*makes your underlign 5px thick */
  text-decoration-color: rgb(172, 106, 144); /* changed text colour*/

} 

 .projectContainer {  
  display: grid; /* to create a grid display you MUST include display:grid at the start*/
  grid-template-areas: "studyguide studyguide" /* your grid will take this visual, in 1st row study guide takes up 2 columns*/
                      "studyguide studyguide"   /*study guide takes up another 2 columns and two rows on total, so 2x size of other columns*/
                      "comingsoon1 comingsoon2" /* comingsoon 1 and 2 takes up one row, same below */
                      "comingsoon3 comingsoon4";  
  background-position: center; 
  height: 1000px;  
} 

 #web-access {  
  grid-area: studyguide; /* web-access takes up the space of studyguide in your grid as shown in the visual above*/
  background-image:url("/images/stevaalex.github.io_Bootcamp-first-challenge_\ \(1\).png"); /* applies background image to section*/
  border: 5px solid #f6bcca;
  margin: 10px;
  background-position: center; /*positions your background image */
  background-size: cover;/*sets size of background image, cover scales image so it fits shape/space */
}   

#studyguide { 
  grid-area: comingsoon1;
  background-image:url("/images/stevaalex.github.io_prework-study-guide_.png"); 
  background-position: top; 
  background-size: cover;
} 

#proj3 { 
  grid-area: comingsoon2;
  background-image:url("/images/IMG_6655.jpg"); 

} 

#proj4 { 
  grid-area: comingsoon3;
  background-image:url("/images/IMG_6656.JPG");
} 

#proj5 { 
  grid-area: comingsoon4;
  background-image:url("/images/IMG_6956.JPG");
} 

#studyguide, 
#web-access, 
#proj3, 
#proj4, 
#proj5 {  
  border: 5px solid #f6bcca;
  margin: 10px; 
  background-position: center; 
 } 
 
#project1, 
#project2, 
#project3, 
#project4, 
#project5 { 
  display: flex;
  box-sizing: border-box;
  background-color: #f6bcca; 
  padding: 20px; 
  height: fit-content; 
  width: fit-content;
  margin-left: auto; 
  align-items: flex-end; 
  border-radius: 15%;
} 
.page-wrapper {  
  display: grid;
 grid-template-areas: "aboutMe AbBody"
                "work projectcontainer"
                "contactMe contactinfo";
  grid-template-columns: auto;
  margin-top: 30px;
  margin-left: 40px;

} 

.AboutMe { 
  grid-area: aboutMe; 
  text-align: right;
  padding-right: 5px;

} 

#AB-Body { 
  grid-area: AbBody; 
  border-left: 5px solid rgb(172, 106, 144); 
  margin-bottom: 40px;
}
.Work { 
  grid-area: work;
  text-align: right;
  padding-right: 5px;
} 

.projectContainer {
  grid-area: projectcontainer;
  border-left: 5px solid rgb(172, 106, 144); 
  margin-bottom: 40px;
 
} 

.ContactMe { 
  grid-area: contactMe; 
  text-align: right;
  padding-right: 5px;
} 

#contact-info { 
  grid-area: contactinfo;
  border-left: 5px solid rgb(172, 106, 144);
  margin-bottom: 40px;
}

.projectContainer p { 
  text-decoration: none!important; 
  font-size: 12px;
}

@media (max-width: 1000px) { /* called media query so when the width is 1000px and less the elements in the brackets is applied to the site*/
  .projectContainer {  
    display: grid; 
    grid-template-areas: "studyguide" 
                        "studyguide"   
                        "comingsoon1"
                        "comingsoon2" 
                        "comingsoon3" 
                        "comingsoon4";  
    background-position: center; 
    height: 1000px; 
  }  

  .page-wrapper {  
    display: grid;
   grid-template-areas: "aboutMe AbBody"
                  "work projectcontainer"
                  "contactMe contactinfo";
    grid-template-columns: auto;
    margin-top: 15px;
    margin-left: 20; 
  }
  header { 
  max-width: 100%;
  }  

.hero-banner { 
max-width: 100%; /* sets max width to be 100% fo space*/
}
}

header a:link, 
header a:visited { /* changes links inside header font colour to the pink colour below*/

  color: #f6bcca; 
}

.page-wrapper a:link, 
.page-wrapper a:visited, 
#contact-info a:visited 
#contact-info a:link, /* a:link= changes the porperty of the link it self*/
.projectContainer, 
.projectContainer a:link 
.projectContainer a:visited /* a:visited= changes the property of a visited link */
 { 
  color: rgb(172, 106, 144);
}

a:hover { 
  font-size: 25px; /* hyperlink fonts become bigger when you hover over it with mouse*/
}